<article class="new-post">
    <div class="title">
        <h2>
            Create New Post
        </h2>
    </div>
    <div class="body">
        <form class="new-post-form">
            <div>
                <span>Title</span>
                <input name="post-title" type="text" />
            </div>
            <div>
                <span>Content</span>
                <textarea name="post-content"></textarea>
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
</article>
<script src="/javascript/add-post.js"></script>